@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html {
  background: #451FDF;
  height: 100vh;
}

#app {
  min-height: 100vh;
}
